.grid {
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}
.grid div {
    width: 20px;
    height: 20px;
}

.tetromino {
    background-color: blue;
}